# Modelling for predicting match results from past performance with a rolling window

Dependencies

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

Data as prepared in relevant notebooks and saved as pickle.

In [2]:
df_main = pd.read_pickle("../data/processed/rolling_performance.pkl")
df_main.info() ; df_main.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33907 entries, 0 to 33906
Data columns (total 44 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              33907 non-null  datetime64[ns]
 1   home_team                         33907 non-null  object
 2   away_team                         33907 non-null  object
 3   home_score                        33907 non-null  int64
 4   away_score                        33907 non-null  int64
 5   tournament                        33907 non-null  object
 6   city                              33907 non-null  object
 7   country                           33907 non-null  object
 8   neutral                           33907 non-null  bool
 9   match_id                          33907 non-null  int64
 10  home_win_ratio_roll183D           33907 non-null  float64
 11  home_draw_ratio_roll183D          33907 non-null  float64
 12  home_avg_goals_scored_roll183D    33907 non-null  float64
 13  home_avg_goals_conceded_roll183D  33907 non-null  float64
 14  home_win_ratio_roll365D           33907 non-null  float64
 15  home_draw_ratio_roll365D          33907 non-null  float64
 16  home_avg_goals_scored_roll365D    33907 non-null  float64
 17  home_avg_goals_conceded_roll365D  33907 non-null  float64
 18  home_win_ratio_roll548D           33907 non-null  float64
 19  home_draw_ratio_roll548D          33907 non-null  float64
 20  home_avg_goals_scored_roll548D    33907 non-null  float64
 21  home_avg_goals_conceded_roll548D  33907 non-null  float64
 22  home_win_ratio_roll730D           33907 non-null  float64
 23  home_draw_ratio_roll730D          33907 non-null  float64
 24  home_avg_goals_scored_roll730D    33907 non-null  float64
 25  home_avg_goals_conceded_roll730D  33907 non-null  float64
 26  away_win_ratio_roll183D           33907 non-null  float64
 27  away_draw_ratio_roll183D          33907 non-null  float64
 28  away_avg_goals_scored_roll183D    33907 non-null  float64
 29  away_avg_goals_conceded_roll183D  33907 non-null  float64
 30  away_win_ratio_roll365D           33907 non-null  float64
 31  away_draw_ratio_roll365D          33907 non-null  float64
 32  away_avg_goals_scored_roll365D    33907 non-null  float64
 33  away_avg_goals_conceded_roll365D  33907 non-null  float64
 34  away_win_ratio_roll548D           33907 non-null  float64
 35  away_draw_ratio_roll548D          33907 non-null  float64
 36  away_avg_goals_scored_roll548D    33907 non-null  float64
 37  away_avg_goals_conceded_roll548D  33907 non-null  float64
 38  away_win_ratio_roll730D           33907 non-null  float64
 39  away_draw_ratio_roll730D          33907 non-null  float64
 40  away_avg_goals_scored_roll730D    33907 non-null  float64
 41  away_avg_goals_conceded_roll730D  33907 non-null  float64
 42  host_advantage                    33907 non-null  int64
 43  result                            33907 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(32), int64(4), object(6)
memory usage: 11.2+ MB

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,match_id,...,away_win_ratio_roll548D,away_draw_ratio_roll548D,away_avg_goals_scored_roll548D,away_avg_goals_conceded_roll548D,away_win_ratio_roll730D,away_draw_ratio_roll730D,away_avg_goals_scored_roll730D,away_avg_goals_conceded_roll730D,host_advantage,result
0,1975-01-01,Cameroon,Guinea,1,0,Friendly,Yaoundé,Cameroon,False,870,...,0.111111,0.444444,1.222222,2.111111,0.277778,0.388889,1.611111,1.777778,1,home_win
1,1975-01-01,Iraq,Tunisia,0,0,Friendly,Baghdad,Iraq,False,871,...,0.647059,0.058824,1.647059,0.941176,0.523810,0.095238,1.476190,1.333333,1,draw
2,1975-01-03,Bermuda,Suriname,2,5,Friendly,Hamilton,Bermuda,False,872,...,0.444444,0.333333,1.666667,1.111111,0.444444,0.333333,1.666667,1.111111,1,away_win
3,1975-01-09,Iraq,Libya,3,1,Friendly,Baghdad,Iraq,False,874,...,0.466667,0.266667,2.066667,1.000000,0.466667,0.266667,2.066667,1.000000,1,home_win
4,1975-01-14,Kuwait,Libya,1,0,Friendly,Kuwait City,Kuwait,False,875,...,0.437500,0.250000,2.000000,1.125000,0.437500,0.250000,2.000000,1.125000,1,home_win

## Preparing training and test sets

We will build different models for different rolling windows. Below is a dictionary for the column names for each window.

In [3]:
train_col_names = {}

for window in ["roll183D", "roll365D", "roll548D", "roll730D"]:
    col_names = []
    for ha in ["home", "away"]:
        for metric in ["win_ratio", "draw_ratio", "avg_goals_scored", "avg_goals_conceded"]:
            col_names.append(f"{ha}_{metric}_{window}")
            train_col_names[window] = col_names

train_col_names_all = []

for window in ["roll183D", "roll365D", "roll548D", "roll730D"]:
    train_col_names_all += train_col_names[window]

We want to optimise the models for predicting new results from historical information. So the train-test split will be made at a certain point in time, rather than randomly. To define a cut-off, let's check the number of matches per year.

In [4]:
df_main["year"] = df_main["date"].dt.year
df_main.value_counts("year", sort = False).sort_index(ascending = False).cumsum()

year
2024      590
2023     1571
2022     2481
2021     3541
2020     3804
2019     4894
2018     5743
2017     6605
2016     7473
2015     8435
2014     9200
2013    10115
2012    11066
2011    12111
2010    12884
2009    13744
2008    14774
2007    15700
2006    16453
2005    17196
2004    18216
2003    19087
2002    19753
2001    20714
2000    21664
1999    22362
1998    23031
1997    23879
1996    24647
1995    25243
1994    25769
1993    26491
1992    26993
1991    27428
1990    27835
1989    28391
1988    28847
1987    29167
1986    29538
1985    30082
1984    30536
1983    30923
1982    31283
1981    31737
1980    32173
1979    32528
1978    32848
1977    33254
1976    33574
1975    33907
Name: count, dtype: int64

2020 was a special year with relatively few games. Starting with 2021 will give about 3500 observations for testing, more than 10%.

In [5]:
df_test = df_main[df_main["year"] > 2020].copy()
df_train = df_main[df_main["year"] <= 2020].copy()

Separate the target and features, for each window, as well as all windows

In [6]:
y_train = df_train[["result"]] ; y_test = df_test[["result"]]
X_train = df_train[train_col_names_all] ; X_test = df_test[train_col_names_all]
X_train_183 = df_train[train_col_names["roll183D"]] ; X_test_183 = df_test[train_col_names["roll183D"]]
X_train_365 = df_train[train_col_names["roll365D"]] ; X_test_365 = df_test[train_col_names["roll365D"]]
X_train_548 = df_train[train_col_names["roll548D"]] ; X_test_548 = df_test[train_col_names["roll548D"]]
X_train_730 = df_train[train_col_names["roll730D"]] ; X_test_730 = df_test[train_col_names["roll730D"]]

## Comparing potential models with all windows

We set up a pycaret workflow to compare possible classification models. We apply a time series logic in the setup, in line withe the train-test split. For initial model selection, we use features from all windows.

In [7]:
from pycaret.classification import *

In [8]:
clf = setup(
    data = pd.concat([X_train, y_train], axis = 1),
    target = "result",
    session_id = 42, 
    test_data = pd.concat([X_test, y_test], axis = 1),
    experiment_name = "rolling_model_all_windows",
    n_jobs = -1, 
    train_size = 0.8, 
    fix_imbalance = True,
    normalize = True, 
    data_split_shuffle = False, 
    fold_shuffle = False, 
    fold_strategy = "timeseries"
)

Let's base the model selection on F1 to achieve a balance between precision and recall.

In [9]:
model_selection = compare_models(sort = "f1", exclude = ["lightgbm", "catboost"])

Let's proceed with three top results: ridge, LR, and RF.

### Hyperparameter tuning for ridge regression

In [10]:
model_ridge = create_model("ridge")

In [11]:
model_ridge_tuned = tune_model(
    model_ridge,
    optimize = "f1", 
    search_library = "scikit-learn",
    search_algorithm = "grid", 
    custom_grid = {
        "alpha": np.logspace(-2, 2, 21).tolist()
    }, 
    fold = 10
)

Fitting 10 folds for each of 21 candidates, totalling 210 fits

### Hyperparameter tuning for logistic regression

In [12]:
model_lr = create_model("lr")

In [13]:
model_lr_tuned = tune_model(
    model_lr,
    optimize = "f1", 
    search_library = "scikit-learn",
    search_algorithm = "grid", 
    custom_grid = {
        "penalty": ["l1", "l2"],
        "C": np.logspace(-2, 2, 21).tolist(),
        "solver" : ["liblinear"]
    }, 
    fold = 10
)

Fitting 10 folds for each of 42 candidates, totalling 420 fits

### Hyperparameter tuning for random forest

In [17]:
model_rf = create_model("rf")

In [18]:
model_rf_tuned = tune_model(
    model_rf, 
    optimize = "f1",
    search_library = "scikit-optimize",
    search_algorithm = "bayesian", 
    custom_grid = {
        "n_estimators": [10, 50, 100, 250, 500, 1000],
        "min_samples_split": np.linspace(2, 66, 17).astype(int),
        "min_samples_leaf": np.linspace(1, 33, 17).astype(int),
        "max_depth": np.linspace(4, 40, 19).astype(int),
        "max_features": ["sqrt", "log2"]
    }, 
    fold = 10, 
    n_iter = 25
)

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits

Based on these results, we will proceed with logistic regression.

### Evaluating the selected model

In [ ]:
evaluate_model(model_lr_tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

Based on feature importances, the window of 730 days appears to be the time frame where past performance provides the best predictions.

## Comparing potential models with the window of 730 days

In [8]:
clf_w730 = setup(
    data = pd.concat([X_train_730, y_train], axis = 1),
    target = "result",
    session_id = 42, 
    test_data = pd.concat([X_test_730, y_test], axis = 1),
    experiment_name = "rolling_model_window730",
    n_jobs = -1, 
    train_size = 0.8, 
    fix_imbalance = True,
    normalize = True, 
    data_split_shuffle = False, 
    fold_shuffle = False, 
    fold_strategy = "timeseries"
)

In [9]:
model_selection_w730 = compare_models(sort = "f1", exclude = ["lightgbm", "catboost"])

### Hyperparameter tuning for gradient boosting classifier

In [10]:
model_gbc_w730 = create_model("gbc")

In [11]:
model_gbc_w730_tuned = tune_model(
    model_gbc_w730,
    optimize = "f1", 
    search_library = "scikit-optimize",
    search_algorithm = "bayesian", 
    custom_grid = {
        "n_estimators": [50, 100, 250, 500, 1000],
        "learning_rate" : [0.001, 0.01, 0.1, 1.0],
        "subsample" : [0.5, 0.8, 1.0], 
        "min_samples_split": np.linspace(2, 66, 17).astype(int),
        "min_samples_leaf": np.linspace(1, 33, 17).astype(int),
        "max_depth": np.linspace(4, 40, 19).astype(int), 
        "max_features": ["sqrt", "log2"]
    }, 
    fold = 5,
    n_iter = 10
)

Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Fitting 5 folds for each of 1 candidates, totalling 5 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

### Hyperparameter tuning for logistic regression

In [12]:
model_lr_w730 = create_model("lr")

In [16]:
model_lr_w730_tuned = tune_model(
    model_lr_w730, 
    optimize = "f1",
    search_library = "scikit-optimize",
    search_algorithm = "bayesian", 
    custom_grid = {
        "penalty": ["elasticnet"],
        "C": np.logspace(-2, 2, 21).tolist(),
        "l1_ratio" : np.linspace(0, 1, 11).tolist(),
        "solver" : ["saga"]
    }, 
    fold = 10, 
    n_iter = 50
)

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits

In [17]:
model_lr_w730_tuned_2 = tune_model(
    model_lr_w730, 
    optimize = "f1",
    search_library = "scikit-learn",
    search_algorithm = "grid", 
    custom_grid = {
        "penalty": ["l1", "l2"],
        "C": np.logspace(-2, 2, 21).tolist(),
        "solver" : ["liblinear"]
    }, 
    fold = 10
)

Fitting 10 folds for each of 42 candidates, totalling 420 fits

### Hyperparameter tuning for ridge regression

In [18]:
model_ridge_w730 = create_model("ridge")

In [19]:
model_ridge_w730_tuned = tune_model(
    model_ridge_w730,
    optimize = "f1", 
    search_library = "scikit-learn",
    search_algorithm = "grid", 
    custom_grid = {
        "alpha": np.logspace(-2, 2, 21)
    }, 
    fold = 10
)

Fitting 10 folds for each of 21 candidates, totalling 210 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

### Evaluating the selected model

The difference between LR and GBC is negligible in comparison with the large difference in resource use. So we proceed with LR.

In [20]:
evaluate_model(model_lr_w730_tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

The model is quite bad at predicting draws (class 1), which is the minority of the cases, and rather good at predicting home wins (class 2), which is the majority of cases. Prediction probabilities should be taken into account.

## Prepare model for deploying

In [22]:
model_lr_final = finalize_model(model_lr_w730_tuned)
save_model(model_lr_final, "../models/rolling_model")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('label_encoding',
                  TransformerWrapperWithInverse(exclude=None, include=None,
                                                transformer=LabelEncoder())),
                 ('numerical_imputer',
                  TransformerWrapper(exclude=None,
                                     include=['home_win_ratio_roll730D',
                                              'home_draw_ratio_roll730D',
                                              'home_avg_goals_scored_roll730D',
                                              'home_avg_goals_conceded_roll730D',
                                              'away_win_ratio_rol...
                  TransformerWrapper(exclude=None, include=None,
                                     transformer=StandardScaler(copy=True,
                                                                with_mean=True,
                                                                with_std=True))),
                 ('actual_estimator',
                  LogisticRegression(C=0.01, class_weight=None, dual=False,
                                     fit_intercept=True, intercept_scaling=1,
                                     l1_ratio=0.4, max_iter=1000,
                                     multi_class='auto', n_jobs=None,
                                     penalty='elasticnet', random_state=42,
                                     solver='saga', tol=0.0001, verbose=0,
                                     warm_start=False))],
          verbose=False),
 '../models/rolling_model.pkl')